*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 72px;
}

body {
  position: relative;
  background-color: #232b3e;
  color: #e6edfc;
}

.section-header {
  margin-bottom: 40px;
}

.section-header h2 {
  text-transform: uppercase;
  text-align: center;
}

.section-header .dot-box {
  margin: 0 auto;
  width: 50px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header .dot-box .dot-1 {
  margin: 0 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.section-header .dot-box .dot-2 {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.section-header .dot-box .dot {
  margin: 0 auto;
  background-color: #ffa011;
}

nav {
  position: fixed;
  text-transform: uppercase;
  z-index: 20;
  background-color: #232b3e;
  opacity: 0.8;
}

nav .navbar-brand {
  color: #6d98f7;
}

nav .navbar-brand span {
  color: #e6edfc;
}

nav .nav-link {
  color: #e6edfc;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav .nav-link:hover {
  color: #6d98f7;
}

nav .active {
  color: #ffa011;
}

nav .fa-bars {
  color: #e6edfc;
}

nav .navbar-toggler:focus {
  border: 1px solid #232b3e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header {
  position: relative;
}

header .hero-img {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mountaineer-sm.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

header .hero-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 5;
}

header .hero-text h1 {
  margin: 0 10px;
  text-transform: uppercase;
  color: #6d98f7;
  font-size: 48px;
}

header .hero-text h1 span {
  color: #e6edfc;
}

header .hero-text p {
  font-size: 26px;
}

header .hero-text .btn {
  margin-top: 10px;
  color: #ffa011;
  border-color: #ffa011;
  -webkit-transition: background-color scale 0.3s;
  transition: background-color scale 0.3s;
}

header .hero-text .btn:hover {
  background-color: #232b3e;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 50, 80, 0.6);
  z-index: 2;
}

header .fa-chevron-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffa011;
  z-index: 4;
}

.about-us i {
  font-size: 30px;
}

.about-us .aboutus-card {
  margin-bottom: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.about-us .aboutus-card:hover {
  color: #6d98f7;
}

.about-us .aboutus-card-title {
  text-transform: uppercase;
  font-size: 20px;
}

.trekking {
  position: relative;
  background-image: url("../img/trekking-sm.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #232b3e;
  z-index: -12;
}

.trekking h2 {
  color: #e6edfc;
}

.trekking .trekking-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 43, 62, 0.8);
  z-index: -3;
}

.trekking .container {
  margin-bottom: 40px;
}

.mountain-school {
  text-transform: uppercase;
}

.mountain-school i {
  margin: 40px 0 15px 0;
  font-size: 42px;
}

.mountain-school .school-number {
  font-size: 28px;
}

.mountain-school .school-text {
  margin: 0 20px;
}

.skitours-mountaineering {
  background-color: #e6edfc;
  color: #232b3e;
}

.skitours-mountaineering q {
  font-size: 20px;
}

.skitours-mountaineering .carousel-item {
  height: 600px;
}

.skitours-mountaineering .carousel-item img {
  bottom: 0;
}

.skitours-mountaineering .card-body {
  height: 160px;
}

@media (min-width: 992px) {
  header .hero-img {
    background-image: url("../img/mountaineer-lg.jpg");
  }
  .trekking {
    background-image: url("../img/trekking-lg.jpg");
  }
}
/*# sourceMappingURL=main.css.map */